/* InquiryCard.css */
.inquiry-card {
    display: flex;
    width: 60vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .inquiry-card:hover {
    cursor: pointer;
  }
  
  .inquiry-info {
    flex: 1;
  }
  
  .inquiry-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .inquiry-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 8px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .reply-button {
    background-color: #5d5fe7;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: auto; /* Push the button to the bottom */
  }
  
  .reply-button:hover {
    background-color: #33348a;
  }
  